<div class="mt-4">
    <form method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tu Khoa</label>
        <input  class="form-control" name=q id="exampleInputEmail1"  placeholder="Nhap Tu Khoa">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <select  class="form-control" name="gender" id="exampleInputEmail1">
            <option>Chon gioi tinh</option>
            <option>Nam</option>
            <option>Nu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>